@import "~antd/dist/antd.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.message-date {
  color: #767676;
  font-size: small;
  font-weight: 300;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.message-sender {
  color: #0e2731;
  font-size: small;
  font-weight: 400;
  position: absolute;
  top: 5px;
  left: 5px;
}
