@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.message-date {
  color: #767676;
  font-size: small;
  font-weight: 300;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.read-status {
  font-size: small;
  font-weight: 300;
  position: absolute;
  bottom: 5px;
  left: 5px;

  &.read {
    color: green;
  }
  &.unread {
    color: #767676;
  }
}

.message-sender {
  color: #0e2731;
  font-size: small;
  font-weight: 400;
  position: absolute;
  top: 5px;
  left: 5px;
}

.selected-chat {
  background-color: #efefef !important;
}

a {
  text-decoration: none !important;
}
